 <form action="/users" method="post" accept-charset="UTF-8">
  Username: <input type="text" name="[user][username]"><br>
  Email: <input type="text" name="[user][email]"><br>
  Password: <input type="text" name="[user][password]"><br>
  <input type="submit" value="Submit">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form> 