 <form action="demo_form.asp" method="get">
  Username: <input type="text" name="fname"><br>
  Email: <input type="text" name="lname"><br>
  Password: <input type="text" name="lname"><br>
  <input type="submit" value="Submit">
</form> 